@import 'reset.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

input {
    all: unset;
    appearance: none;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 14px;
    color: black;
}

button {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    width: 100%;
}

.nweet-input::placeholder {
    color: black;
    opacity: 0.9;
}

.container {
    width: 100%;
    /* max-width: 320px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInput {
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
}

.formBtn {
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    padding: 7px 20px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    background-color: #04aaff;
}

.cancelBtn {
    cursor: pointer;
    background-color: tomato;
    padding: 10px 20px;
}

/* Profile Page */

.profileForm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logOut {
    margin-top: 30px;
}

/* Nwitter Factory */

.factoryForm {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.factoryInput__container {
    display: flex;
    
    flex-direction:column;
    justify-content:stretch;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.factoryInput__title{
    flex-grow: 1;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 20px;
    color: black;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 12px;
}

.factoryInput__content {
    flex-grow: 1;
    height: 200px;
    width: 85%;
    margin-top: 20px;
    padding: 0px 20px;
    color: black;
    border: 1px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
}

.factoryInput__arrow {
    margin: 20px 0 50px 0;
    background-color: #04aaff;
    height: 40px;
    width: 100px;
    padding: 10px 0px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
}

.factoryInput__arrow:hover {
    cursor: pointer;
}

.factoryInput__label {
    color: #04aaff;
    cursor: pointer;
}

.factoryInput__label span {
    margin-right: 10px;
    font-size: 12px;
}

.factoryForm__attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factoryForm__attachment img {
    width: 100%;
    height: auto;
}

.factoryForm__clear {
    color: #04aaff;
    cursor: pointer;
    text-align: center;
}

.factoryForm__clear span {
    margin-right: 10px;
    font-size: 12px;
}

/* Nweet */

.nweetEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.nweet {
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #dadada;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
}

.nweet:first-child{
    border-top: 1px solid #dadada;
}

.nweet h4 {
    font-size: 16px;
}

.nweet__img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    width: 70%;
    height: 100%;
}

.nweet__img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.nweet img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.nweet__actions {
    position: absolute;
    right: 10px;
    top: 10px;
}

.nweet__actions span {
    cursor: pointer;
}

.nweet__actions span:first-child {
    margin-right: 10px;
}

/* Auth */

.authContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.authBtns {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.authBtn {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 0px;
    margin: 3%;
    font-size: 12px;
    text-align: center;
    width: 70px;
    background: white;
    cursor: pointer;
}

/* AuthForm */

.authInput {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    box-sizing: content-box;
}

.authSubmit {
    text-align: center;
    background: #04aaff;
    color: white;
    margin-top: 14px;
    box-sizing: content-box;
    cursor: pointer;
}

.authError {
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.authSwitch {
    color: #04aaff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    font-size: 14px;
    text-decoration: underline;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__desc{
    width:100%;
    min-height: 50vh;
    display: block;
    margin-bottom: 50px;
    text-align: center;
}

.post__desc img{
    max-width: 100%;
}

.post__title {
    width: 80%;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.post__hr {
    width: 100%;
    margin-bottom: 80px;
}

.post__creator {
    color: rgb(155, 155, 155);
    margin-bottom: 50px;
}

.factoryInput__link{
    text-align: center;
    background-color: #04aaff;
    height: 35px;
    width: 85px;
    padding: 10px 0px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
}

.trashIcon {
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
}

.trashIcon:hover{
    cursor: pointer;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.gnb{
    height: 60px;
    display:flex;
    justify-content: center;
}

.navLink {
    color: white;
    font-size: 20px;
}

li {
    margin-right: 20px;
}