@import 'reset.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

html, body, #root{
    height: 100%;
}

input {
    all: unset;
    appearance: none;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 14px;
    color: black;
}

button {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    width: 100%;
}


.nweet-input::placeholder {
    color: black;
    opacity: 0.9;
}

.home__title{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home__title > h1{
    font-size: 35px;
    font-weight: 500;
}

.home__title > a{
    background-color: rgba(0, 170, 255, 0.7);
    color:rgb(255, 255, 255);
    width:180px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 200px;
}

.home__link {
font-size: 20px;
}

.scontainer {
    width: 100%;
    height: 30%;
    position: relative;
  }
  
  h1.title, h2.title {
    font-size: 8vmin;
    text-transform: uppercase;
  }
  h1.title span, h2.title span {
    width: 100%;
    float: left;
    color: black;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
  }
  
  h1.title span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
  }
  h1.title span:first-child {
    animation-delay: 0.7s;
  }
  h1.title span:last-child {
    color: #04aaff;
    animation-delay: 0.5s;
  }
  
  h2.title {
    top: 0;
    position: absolute;
  }
  h2.title span {
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;
  }
  h2.title span:first-child {
    animation-delay: 4.2s;
  }
  h2.title span:last-child {
    color: #04aaff;
    animation-delay: 4s;
  }
  
  @keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    }
  }

.container {
    width: 100%;
    /* max-width: 320px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInput {
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
}

.formBtn {
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    padding: 7px 20px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    background-color: #04aaff;
}

.cancelBtn {
    cursor: pointer;
    background-color: tomato;
    padding: 10px 20px;
}

/* Profile Page */

.profileForm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logOut {
    margin-top: 30px;
}

/* Nwitter Factory */

.factoryForm {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.factoryInput__container {
    display: flex;
    
    flex-direction:column;
    justify-content:stretch;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.factoryInput__title{
    flex-grow: 1;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 20px;
    color: black;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 12px;
}

.factoryInput__content {
    flex-grow: 1;
    height: 200px;
    width: 85%;
    margin-top: 20px;
    padding: 0px 20px;
    color: black;
    border: 1px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
}

.factoryInput__arrow {
    margin: 20px 0 50px 0;
    background-color: #04aaff;
    height: 40px;
    width: 100px;
    padding: 10px 0px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
}

.factoryInput__arrow:hover {
    cursor: pointer;
}

.factoryInput__label {
    color: #04aaff;
    cursor: pointer;
}

.factoryInput__label span {
    margin-right: 10px;
    font-size: 12px;
}

.factoryForm__attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factoryForm__attachment img {
    width: 100%;
    height: auto;
}

.factoryForm__clear {
    color: #04aaff;
    cursor: pointer;
    text-align: center;
}

.factoryForm__clear span {
    margin-right: 10px;
    font-size: 12px;
}

/* Nweet */

.nweetEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.nweet {
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #dadada;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
}

.nweet:first-child{
    border-top: 1px solid #dadada;
}

.nweet h4 {
    font-size: 16px;
}

.nweet__img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    width: 70%;
    height: 100%;
}

.nweet__img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.nweet img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.nweet__actions {
    position: absolute;
    right: 10px;
    top: 10px;
}

.nweet__actions span {
    cursor: pointer;
}

.nweet__actions span:first-child {
    margin-right: 10px;
}

/* Auth */

.authContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.authBtns {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.authBtn {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 0px;
    margin: 3%;
    font-size: 14px;
    text-align: center;
    /* width: 135px; */
    background: #04aaff;
    color: white;
    width: 180px;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

/* AuthForm */

.authInput {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: #00aaff1f;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    box-sizing: content-box;
}

.authSubmit {
    text-align: center;
    background: #04aaff;
    color: white;
    margin-top: 14px;
    box-sizing: content-box;
    cursor: pointer;
}

.authError {
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.authSwitch {
    color: #04aaff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    font-size: 14px;
    text-decoration: underline;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__desc{
    width:100%;
    min-height: 50vh;
    display: block;
    margin-bottom: 50px;
    text-align: center;
}

.post__desc img{
    max-width: 100%;
}

.post__title {
    width: 80%;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.post__hr {
    width: 100%;
    margin-bottom: 80px;
}

.post__creator {
    color: rgb(155, 155, 155);
    margin-bottom: 50px;
}

.factoryInput__link{
    text-align: center;
    background-color: #04aaff;
    height: 35px;
    width: 85px;
    padding: 10px 0px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
}

.trashIcon {
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
}

.trashIcon:hover{
    cursor: pointer;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.gnb{
    height: 60px;
    display:flex;
    justify-content: center;
}

.gnb > ul {
    display: flex;
    justify-content: space-between;
    background-color: #04AAFF;
    width: 100%;
    padding: 2% 5%;
}


.navLink {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    word-break: keep-all;
}

